

body.my-login-page {
	background-color: rgba(240,248,255);
	font-size: 14px;
	
}
.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
	padding: center;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
	position: relative;
	left: 50%;
	top: 50%;
	margin: 0 auto;
	height: 490px;
    transform: translate(-50%, -10%);
    background-color: rgba(255, 255, 255, 0.788);
}

.my-login-page .card .card-title {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #090909;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}

@media screen and (max-width: 768px) {
	.my-login-page .card.fat {
		
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}


